<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app">
        <div class="header">
            <h1>Vue Keep</h1>
        </div>
        <div class="container-fluid form">
            <div class="row">
                <form class="col-xs-12" v-on:submit.prevent="onSubmit">
                    <div class="form-group">
                        <label for="titleLabel">Title</label>
                        <input type="text" class="form-control" id="titleLabel" placeholder="Title" v-model.trim="note.title">
                    </div>
                    <div class="form-group">
                        <label for="textLabel">Text</label>
                        <textarea name="" id="textLabel" class="form-control" v-model.trim="note.text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="colorLabel">Color</label>
                        <select class="form-control" id="colorLabel" placeholder="Color" v-model="note.color">
                            <option disabled value="">Please select one</option>
                            <option v-for="color in colors" class="color-option" v-bind:style="{ backgroundColor: color }">
                                {{color}}
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Save</button>
                </form>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row center">
                <div class="color-circle default" @click="selectedColor = ''">Reset</div>
                <div class="color-circle" v-for="color in colors" v-bind:style="{ backgroundColor: color }" @click="selectedColor = color">
                    <span v-if="selectedColor === color" class="checkmark">
                        <div class="checkmark_stem"></div>
                        <div class="checkmark_kick"></div>
                    </span>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12" v-for="(item, index) in filterColor">
                    <div class="card note" v-bind:style="{ backgroundColor: item.color }">
                        <div class="title text-danger">
                            <strong> {{ item.title }} </strong>
                        </div>
                        <div class="time text-muted mark small">
                            <em> {{ item.time }}</em>
                        </div>
                        <div class="text text-primary">
                            {{ item.text }}
                        </div>
                        <div class="close" @click="removeNote(index)">
                            &times;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="index.js"></script>
</body>

</html>